.Terminal {
  background-color: black;
  background-image: radial-gradient(rgba(20, 59, 28), black 120%);
  height: 100vh;
  color: #5bf870;
  text-shadow: 0 0 5px #c8c8c8;
  font: 1.3rem Inconsolata, monospace;
}

.TerminalLines {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0.1) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
  animation: fadeIn 2s;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

.ScanLine {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: ScanLine 10s linear infinite;
}

.TerminalText {
  margin: auto;
  text-align: center;
}
